{% extends '../base.html' %}

{% block content %}
{{ user }}
<h1>POST LIST</h1>
<div>user: {{ request.user }}</div>
{% if request.user.is_authenticated %}
<div><a href="{% url 'members:logout' %}">로그아웃</a></div>
<div><a href="{% url 'posts:post-create' %}">글 추가하기</a></div>
{% endif %}
{% for post in posts %}
<div>작성자: {{ post.author }}</div>
<div>작성일시: {{ post.created }}</div>
<div>내용: {{ post.content_html|safe|linebreaks }}</div>
    {% for post_image in post.postimage_set.all %}
    <img src="{{ post_image.image.url }}" alt="">
    {% endfor %}

<form action="{% url 'posts:post-like' pk=post.pk %}" method="POST">
    {% csrf_token %}

    <!-- 같은조건1 유저가 좋아하는 포스트들을 확인 -->
    {% if post in user.like_post_set.all %}
    <button class="btn btn-primary" type="submit">좋아요 취소</button>
    {% else %}
    <button class="btn btn-outline-primary" type="submit">좋아요</button>
    {% endif %}
</form>

<!-- 같은조건2 포스트를 좋아요한 유저들을 확인 -->
{% for user in post.like_users.all %}
<span>{{ user }}</span>
{% endfor %}
<form action="{% url 'posts:post-comment' post_pk=post.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <button type="submit">작성</button>
</form>
<ul>
    {% for comment in post.postcomment_set.all %}
    <li><b>{{ comment.author }}</b> <span>{{ comment.content }}</span></li>
    {% endfor %}
</ul>
<hr>
{% endfor %}
{% endblock %}