#server {
#    listen 80;
#    server_name blog.hyegg.xyz www.blog.hyegg.xyz;
#    charset utf-8;
#
#    location / {
#        proxy_pass      http://unix:/run/blog.sock;
#    }
#
#    location /static/ {
#        alias           /srv/blog/.static/;
#    }
#}
#
server {
    # 80번 포트로 온 요청에 응답할 block
    listen 80;

    # HTTP요청의 HOST값 (URL에 입력한 도메인)
    server_name hyegg.xyz www.hyegg.xyz;

    # 인코딩 설정
    charset utf-8;

    location /.well-known/acme-challenge/ {
        alias           /srv/instagram/.cert/;
    }

    #     모든 요청을 https로 redirect
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name hyegg.xyz www.hyegg.xyz;
    charset utf-8;
    client_max_body_size 20M;

    ssl on;
    ssl_certificate         /etc/letsencrypt/live/www.hyegg.xyz/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/www.hyegg.xyz/privkey.pem;

    location / {
        # 일반적으로 proxy요청을 할 때 필요한 설정들이 들어있음.
#        include         /etc/nginx/proxy_params;
        # /run/gunicorn.sock파일을 사용해서 Gunicorn과 소켓통신하는 proxy구성
        proxy_pass      http://unix:/run/instagram.sock;
    }

    location /static/ {
        alias           /srv/instagram/.static/;
    }
}